@charset 'UTF-8';

// 1. Configuration and helpers
@import
'abstracts/colors',
'abstracts/mixins';

// 2. Vendors
@import
'vendors/s.style';

// 3. Base stuff
// @import 'base/box-model';
@import
'base/typography',
'base/helpers';

// 4. Layout-related sections
@import 'layout/layout';

// 5. Components
@import
'components/banner',
'components/button',
'components/footer',
'components/main-navigation';


// 6. Page-specific styles
@import
'pages/front-page';

// 7. Themes
// @import
//   'themes/default';