.page-template-template-accompaniment {
  .page-banner__image {
    display: none;
    @media (min-width: 60em) {
      display: block;
    }
  }
  .audience {
    margin: 0 0 6em;
    &:first-child {
      @media (min-width: 60em) {
        margin-top: 6em;
      }
    }
    &:nth-child(2n+1) {
      .audience__title span,
      .audience__cta .button {
        background-color: $orange-500;
      }
    }
    &:nth-child(2n+2) {
      .audience__title span,
      .audience__cta .button  {
        background-color: $purple-500;
      }
    }
    &:nth-child(2n+3) {
      .audience__title span,
      .audience__cta .button  {
        background-color: $blue-900;
      }
    }
    &__image {
      @include shadow;

      height: 33em;
      width: 100vw;
      max-width: 60em;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;

      @media (min-width: 60em) {
        @include rounded;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin-top: -.75em;

      color: white;
      font-size: 3em;
      text-align: center;

      @media (min-width: 40em) {
        font-size: 4em;
      }
      span {
        display: inline-block;
        padding: .75rem 2rem 1rem;
      }
    }
    &__excerpt {
      margin-right: auto;
      margin-left: auto;
      padding-right: 1em;
      padding-left: 1em;
    }
    &__cta {
      text-align: center;
      .button {
        &,
        &:visited,
        &:hover {
          color: white;
        }
      }
    }
  }
}