.page-template-default {
  .entry-content {
    padding: 0 1em;
    margin-top: 4em;
    margin-bottom: 4em;
    
    h2 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
    }

    h2, h3, h4, h5, h6,
    p,
    ul,
    ol,
    .wp-block-columns {
      margin-right: auto;
      margin-left: auto;
      max-width: 50rem;
    }

    blockquote {
      margin: 4em 0 4em -1em;
      padding: 4em 2em;
      width: 100vw;

      background-color: $purple-500;

      p {
        max-width: 40em;

        font-size: 1.5em;
        color: white;

      }
    }

    .wpcf7-form {
      margin-right: auto;
      margin-left: auto;
      max-width: 30em;
    }

    strong {
      font-weight: 500;
    }
  }
}