.page-template-template-team {
  .team {
    padding-right: 1em;
    padding-left: 1em;
    .ot {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 2em;
      margin: 4em 0;

      &__name {
        font-size: 2em;
      }

      &__image {
        @include rounded;
        @include shadow;

        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }
      }

      @media (min-width: 50em) {
        grid-template-columns: repeat(2, calc(50% - 1em));
        
        .ot__image {
          justify-self: start;
          image {
            width: auto;
            max-width: 100%;
          }
        }

        &:nth-child(2n+1) {
          flex-direction: row-reverse;
  
          .ot__image{
            grid-column-start: 1;
            justify-self: end;
          }

          .ot__presentation {
            grid-column-start: 2;
            // padding-right: 0;
            // padding-left: 2em;
          }
        }
      }
    }
  }
}