.page-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  min-height: 100vh;
  overflow: hidden;
  &__logo {
    margin: 2em 0;
    width: 6em;
    &--simple {
      margin-bottom: 0;
      width: 4em;
    }
  }
  .page-title {
    margin: 1rem 0;

    font-size: 4em;
    font-weight: 600;
    line-height: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 2em 2em;

    background-color: $purple-500;

    color: white;
  }
  &__cta {
    margin-top: 3em;
  }
  &__image {
    align-self: stretch;
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}