.page-banner {
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  @media (min-width: 60em) {
    grid-template-columns: 65% 35%;
    min-height: 100vh;
  }
  @media (min-width: 75em) {
    grid-template-columns: repeat(2, 50%);
  }
  &__logo {
    margin: 0 0 2em;
    width: 6em;
    @media (min-width: 40em) {
      margin-top: 2em;
    }
    &--simple {
      margin-bottom: 0;
      width: 4em;
    }
  }
  .page-title {
    margin: 1rem 0;

    font-size: 2em;
    @media (min-width: 40em) {
      font-size: 3em;
    }
    @media (min-width: 80em) {
      font-size: 4em;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 2em 2em;

    background-color: $purple-500;

    color: white;

    @media (min-width: 40em) {
      padding-top: 4em;
    }
  }
  &__cta {
    margin-top: 3em;
  }
  &__nav {
    margin-top: 1em;
    @media (min-width: 40em) {
      margin-top: 3em;
    }
    a {
      clear: both;
      float: left;
      margin-bottom: 1em;

      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;

      @media (min-width: 40em) {
        float: none;
        margin-bottom: 0;
      }

      &,
      &:hover,
      &:visited {
        color: white;
      }

      &:hover {
        text-decoration: underline;
      }

      &:not(last-child) {
        margin-right: 2em
      }
    }
  }
  &__image {
    height: 33em;

    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    @media (min-width: 60em) {
      height: auto;
    }
  }
}