.button {
  @include shadow;

  display: inline-block;
  padding: 1em 2em;

  background-color: white;
  border-radius: 2em;

  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    transform: translateY(1px);
  }

  &:active {
    transform: translateY(2px);
  }

  &--purple {
    &,
    &:visited,
    &:hover {
      color: $purple-500;
    }
  }

  &--orange {
    &,
    &:visited,
    &:hover {
      color: $orange-500;
    }
  }

  &--blue {
    &,
    &:visited,
    &:hover {
      color: $blue-900;
    }
  }
}