.wpcf7 {
  input {
    &[type="text"],
    &[type="email"],
    &[type="url"],
    &[type="password"],
    &[type="search"],
    &[type="number"],
    &[type="tel"],
    &[type="range"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="datetime"],
    &[type="datetime-local"],
    &[type="color"],
    textarea {
      width: 100%;

      color: $text-base;
      font-family: inherit;
    }
    &[type="checkbox"] {
      position: absolute;
      top: auto;

      width: 1px;
      height: 1px;
      overflow: hidden;

      clip: rect(1px 1px 1px 1px); /* IE 6/7 */
      clip: rect(1px, 1px, 1px, 1px);

      white-space: nowrap;
      + .wpcf7-list-item-label {
        position: relative;
  
        display: block;
        padding-left: 27px;
  
        font-weight: 400;
        &::before {
          content: '';
  
          position: absolute;
          top: 2px;
          left: 0;
  
          display: block;
          height: 17px;
          width: 17px;
  
          background-color: transparent;
          border: 2px solid $text-base;
          cursor: pointer;
        }
      }
      &:checked {
        + .wpcf7-list-item-label::after {
          content: '';

          position: absolute;
          top: 5px;
          left: 3px;

          display: block;
          height: 11px;
          width: 11px;

          background-color: $purple-500;
        }
        + .wpcf7-list-item-label::before {
          border-color: $purple-500;
        }
      }
      &:focus {
        + .wpcf7-list-item-label::before {
          border-color: $purple-500;
        }
      }
    }
  }
  .wpcf7-text,
  .wpcf7-textarea {
    padding: .4em .75em .5em;

    background-color: lighten($text-base, 77);
    border: 2px solid lighten($text-base, 77);
    
    &:focus {
      background-color: transparent;
      border-color: $purple-500;
      outline: none;
    }

    &.wpcf7-not-valid {
      border-color: $red-500;
    }
  }
  .wpcf7-checkbox {
    position: relative;
  }
  .wpcf7-not-valid-tip {
    color: $red-500;
  }

  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output {
    border-color: $red-500;
  }

  span.wpcf7-list-item {
    margin-left: 0;
  }
}