@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat:400,400i,600,600i&display=swap');

body {
  color: $text-base;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.copy {
  max-width: 40em;
}