@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat:400,400i,600,600i&display=swap');

body {
  color: $text-base;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1;
}

ul {
  margin-left: 0;
}

.copy {
  max-width: 40em;
}