.page-template-template-accompaniment {
  .audience {
    margin: 6em 0;
    &:nth-child(2n+1) {
      .audience__title span,
      .audience__cta .button {
        background-color: $orange-500;
      }
    }
    &:nth-child(2n+2) {
      .audience__title span,
      .audience__cta .button  {
        background-color: $purple-500;
      }
    }
    &:nth-child(2n+3) {
      .audience__title span,
      .audience__cta .button  {
        background-color: $blue-900;
      }
    }
    &__image {
      @include rounded;
      @include shadow;

      height: 33em;
      width: 100vw;
      max-width: 55em;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin-top: -.75em;

      color: white;
      font-size: 4em;
      text-align: center;
      span {
        display: inline-block;
        padding: .75rem 2rem 1rem;
      }
    }
    &__excerpt {
      margin-right: auto;
      margin-left: auto;
    }
    &__cta {
      text-align: center;
      .button {
        &,
        &:visited,
        &:hover {
          color: white;
        }
      }
    }
  }
}