.page-template-default {
  .entry-content {
    padding: 0 1em;
    margin-top: 4em;
    margin-bottom: 4em;
    
    h2 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
    }

    p,
    ul {
      margin-right: auto;
      margin-left: auto;
      max-width: 40em;
    }

    strong {
      font-weight: 500;
    }
  }
}