.page-template-template-front {
  .accompaniment {
    .audience {
      position: relative;

      margin: 4em 0;

      color: white;
      &__content {
        position: relative;
        z-index: 1;
      }
      &__title {
        margin: 0 0 1rem;

        font-size: 3.5em;
        font-weight: 600;
        line-height: 1;
      }
      &__text {
        font-size: 1.25em;
      }
      .button {
        position: absolute;
        bottom: -1.75em;
      }
      &__image {
        @include rounded;
        @include shadow;

        position: relative;
        z-index: 2;

        overflow: hidden;
        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &--kids {
        height: 35em;
        .audience__content {
          padding: 4em 4em 2em 2em;
          width: 29em;

          background-color: $orange-500;
        }
        .button {
          left: 2em;
        }
        .audience__image {
          position: absolute;
          top: 2em;
          right: 0;

          height: 33em;
          width: calc(100% - 27em);
        }
      }
      &--adults {
        height: 31em;
        .audience__content {
          position: absolute;
          top: 6em;
          right: 0;

          padding: 4em 2em 2em 9em;
          width: 49em;

          background-color: $purple-500;
        }
        .button {
          left: 9em;
        }
        .audience__image {
          height: 24em;
          width: calc(100% - 42em);
        }
      }
      &--elderly {
        height: 55em;
        .audience__content {
          position: absolute;
          top: 20em;
          left: 50%;
          transform: translateX(-30em);

          padding: 5em 2em 2em;
          width: 29em;

          background-color: $blue-900;
        }
        .button {
          left: 2em;
        }
        .audience__image {
          height: 24em;
          width: 52em;
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
  .artesania {
    margin-bottom: 4em;
    &__image {
      @include shadow;

      position: relative;

      margin-bottom: -6em;

      img {
        display: block;
        height: 37em;
        width: 100%;

      }
      display: block;
      &::before {
        content: "";

        position: absolute;
        top: calc(100% - 1em);
        right: 0;
        z-index: -1;

        display: block;
        height: 5em;
        width: 60%;

        background-color: $purple-500;
      }
    }
    &__title {
      @include text-shadow;
      
      transform: translateY(-10%);

      margin: 0;

      color: white;
      font-size: 8em;
      font-weight: 600;
      text-align: right;
    }
    &__content {
      margin-right: auto;
      margin-left: auto;
    }
    &__cta {
      text-align: center;
    }
  }
}