.page-template-template-front {
  .accompaniment {
    @media (min-width: 40em) {
      padding: 0 1em;
    }
    .audience {
      position: relative;

      margin: 0;

      color: white;
      
      @media (min-width: 40em) {
        margin: 4em 0;
      }
      &__content {
        position: relative;
        z-index: 1;
      }
      &__title {
        margin: 0 0 1rem;

        font-size: 3.5em;
      }
      &__text {
        font-size: 1.25em;
      }
      .button {
        position: absolute;
        bottom: -1.75em;
      }
      &__image {
        @include shadow;

        position: relative;

        overflow: hidden;
        @media (min-width: 40em) {
          @include rounded;

          z-index: 2;
        }
        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &--kids {
        @media (min-width: 40em) {
          height: 35em;
        }
        .audience__content {
          position: relative;
          z-index: 2;

          padding: 2em;

          background-color: $orange-500;
          @media (min-width: 40em) {
            z-index: 1;

            padding: 4em 4em 2em 2em;
            width: 29em;
          }
        }
        .button {
          left: 2em;
        }
        .audience__image {
          height: auto;
          width: 100%;
          @media (min-width: 40em) {
            position: absolute;
            top: 2em;
            right: 0;

            height: 33em;
            width: calc(100% - 27em);
          }
        }
      }
      &--adults {
        @media (min-width: 40em) {
          height: 35em;
        }
        @media (min-width: 70em) {
          height: 31em;
        }
        .audience__content {
          padding: 2em;

          background-color: $purple-500;

          @media (min-width: 40em) {
            position: absolute;
            top: 6em;
            right: 0;

            padding: 4em 2em 2em 9em;
            width: 33em;
            max-width: 49em;
          }
          @media (min-width: 70em) {
            width: 100%;
          }
        }
        .button {
          left: 2em;

          @media (min-width: 40em) {
            left: 9em;
          }
        }
        .audience__image {
          height: auto;
          width: 100%;
          @media (min-width: 40em) {
            height: 24em;
            width: calc(100% - 25em);
          }
          @media (min-width: 70em) {
            height: 24em;
            width: calc(100% - 42em);
          }
        }
      }
      &--elderly {
        @media (min-width: 40em) {
          height: 55em;
        }
        .audience__content {
          padding: 2em;

          background-color: $blue-900;
          @media (min-width: 40em) {
            position: absolute;
            top: 20em;
            left: 0;

            padding: 5em 2em 2em;
            width: 29em;
          }
          @media (min-width: 70em) {
            left: 50%;
            transform: translateX(-30em);
          }
        }
        .button {
          left: 2em;
        }
        .audience__image {
          height: auto;
          width: 100%;
          @media (min-width: 40em) {
            height: 24em;
            max-width: 52em;
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
    }
  }
  .artesania {
    margin-bottom: 4em;
    &__image {
      @include shadow;

      position: relative;

      margin-bottom: -2em;
      width: 100vw;
      @media (min-width: 40em) {
        margin-bottom: -3em;
      }
      @media (min-width: 50em) {
        margin-bottom: -4em;
      }
      img {
        display: block;
        height: 16em;
        width: 100%;

        object-fit: cover;
        @media (min-width: 40em) {
          height: 22em;
        }
        @media (min-width: 50em) {
          height: 30em;
        }
        @media (min-width: 60em) {
          height: 37em;
        }
      }
      &::before {
        content: "";

        position: absolute;
        top: calc(100% - 3em);
        right: 0;
        z-index: -1;

        display: block;
        height: 5em;
        width: 27em;

        background-color: $purple-500;
        @media (min-width: 40em) {
          top: calc(100% - 2em);

          width: 33em;
        }
        @media (min-width: 50em) {
          top: calc(100% - 1em);

          width: 45em;
        }
        @media (min-width: 60em) {
          top: calc(100% - 1em);

          width: 50em;
        }
      }
    }
    &__title {
      @include text-shadow;
      
      transform: translateY(7%);

      margin: 0 1rem 0 0;

      color: white;
      font-size: 3em;
      text-align: right;
      @media (min-width: 30em) {
        transform: translateY(-8%);

        font-size: 4em;
      }
      @media (min-width: 40em) {
        margin-bottom: 2rem;
        transform: translateY(-5%);

        font-size: 5em;
      }
      @media (min-width: 50em) {
        transform: translateY(-4%);

        font-size: 7em;
      }
      @media (min-width: 60em) {
        transform: translateY(-10%);

        font-size: 8em;
      }
    }
    &__content {
      margin-right: auto;
      margin-left: auto;
      padding-right: 1em;
      padding-left: 1em;
    }
    &__cta {
      text-align: center;
    }
  }
}